{% extends 'home/base.html' %}

{% block title %}
<title>Lab Rules</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Rules to follow in all labs</h2>

    <ul class="all-lists">
        <li><a href="#logbook">About Lab Logbook</a></li>
        <li><a href="#handling-comp">About handling computers</a></li>
        <li><a href="#lab-cleanliness">About About Lab cleanliness</a></li>        
    </ul>    

    <h2 id="logbook">About Lab Logbook</h2>
    <ol>
        <li>Student must do entry in Lab Log Book register</li>
        <li>Student must do all entries correctly in logbook, i.e. sn, system name, sap id, student name and sign</li>
        <li>Student must ensure of doing entry in logbook before leaving the lab</li>
        <li>It's students whole responsibilty to do entry in lab logbook</li>
    </ol>

    <h2 id="handling-comp">About handling computers</h2>
    <ol>
        <li>Student must start the computers after instructed by faculty</li>
        <li>Student must shutdown the computers properly before leaving the lab</li>
        <li>Student mus handle the computers carefully</li>
        <li>Student must not move or bend computer angles and positions</li>
        <li>Student must not put any thing on the computer table except pen, pencil and notebook etc</li>
        <li>Student must keep bags at one place of the lab instucted by faculty</li>
        <li>Student must keep water bottles down the computer table</li>
        <li>Before student sits at the computer, please turn on backside power buttons and check the network cable connected properly</li>
        <li>If student find anything unusual with the computers, immediately inform to the faculy or lab assistant.</li>        
    </ol>

    <h2 id="lab-cleanliness">About Lab cleanliness</h2>
    <ol>
        <li>Student must not bring eatables in the lab</li>
        <li>Student must not make the lab untidy by throwing the papers, pen, pencils etc in the lab</li>
    </ol>
</div>


{% endblock%}